<div style="display: flex; flex-direction: column; align-items: center;">
    <nav class="nav" style="display: flex;">
        <div>{{userName?.userName}}</div>
        <div routerLink="/jobs" routerLinkActive="active"><a>job field: {{userName?.field}}</a></div>
        <div>number of cv: {{jobsService.numberOfCV}}</div>
        <div routerLink="/login"><img class="img" src="../../../assets/smaile.ico" alt=""></div>
    </nav>

    <div>
        <h4>ליצירת קשר:</h4>
        <div>miri krasnitzky</div>
        <div>meromey shade 5</div>
        <div>tel: 052-7667890</div>
    </div>
</div>